.header-1{
    margin:2rem auto;
    width:60%;
}
.header-1:after{
    content:"";
    display:block;
    clear:both;
}
.header-1>a>img{
    float:left;
}
.header-1>img:last-child{
    float:right;
    margin-top:1rem;
}
section{width:70%;margin: 2rem auto}
.gotopro{
    display: block;
    margin:1rem;
    color: #6FC4B1;
}
.carC>ul,.carN{
    display: flex;
    justify-content: space-around;
    padding:0.5rem;
    border:1px solid #000;
}
.carC button{
    width:20px;
    height:20px;
}
.total{
    text-align: right;
}
.pay{
    float: right;
    width:50px;
    height:30px;
    line-height: 30px;
    text-align: center;
    background: #32B397;
    border-radius: 5px;
    color:#fff
    
}
ul>li{
    width: 16%;
    /* text-align: center; */
}