.my-header,.my-footer{width:100%}
.my-footer{height:36rem;}
body{
    box-sizing:border-box;
}
/*µ¼º½À¸*/
nav{
    position:relative;
    top:-20px;left:-20px;
    height:80px;
    display:flex;
    margin:20px;
    background-color:rgba(0,0,0,0);
    z-index:1;
}
nav>a{
    width:220px;
    height:70px;
    background:#05AB8A;
    margin-right:12px;
    padding:17px 33px 17px 64px;
}
nav>ul{
    width:45%;
    justify-content:space-between;
}

nav ul,nav div{margin-top:44px;}

nav ul{
    max-width:650px;
}
nav ul li img{
    vertical-align:bottom;
    margin-right:10px;
}
nav ul li a{
    color:#05AB8A;
}
nav ul li a:hover{
    font-weight:bold;
    font-size:1rem;

}
nav div{
    position:absolute;
    right:1%;
}
nav div a{
    border:1px solid #05AB8A;
    border-radius:20px;
    line-height:15px;
    padding:6px 12px;
}
.btn a:first-child{color:#fff;font-weight:bold;}
.btn a:nth-child(2){color:#05AB8A;font-weight:bold;}
.btn a:first-child{
    background-color:#05AB8A;
    margin-right:8px;
}
.btn a:hover{
    opacity:0.6;
}

/*ÓÒ¶Ë¹Ì¶¨µ¼º½*/
.sec-right-fix{
    position:fixed;
    right:0;
    bottom:1%;
}
.sec-right-fix>div{
    width:4rem;height:4rem;
    border-radius:50%;
    background:#21C697;
    margin:1rem;
}
.sec-right-fix>div>p{
    margin:-3.5rem 0.8rem;
}

.sec-right-fix>div>p>a{
    color:rgba(255,255,255,0);
    font-size:1rem;
}
.sec-right-fix>div img{
    padding:0.8rem;
}
.sec-right-fix>div:first-child:hover img{visibility:hidden;}
.sec-right-fix>div:first-child:hover p>a{
    visibility:visible;
    color:rgba(255,255,255,1);
}
/*f1*/
.course-f1{
    width:100%;
    z-index:0;
    position:relative;
}
.course-f1>img:first-child{
    width:100%;
    margin-top:-7.5rem;
}
.course-f1>img:nth-child(2){
    width:100%;
    position:absolute;
    top:-15%;left:0;
}
.course-f1>img:nth-child(3){
    position:absolute;
    bottom:13%;left:43%;
}

.f1-input{
    height:5rem;width:37rem;
    position:absolute;
    top:56%;left:15%;


}
.f1-input>p>img{
    vertical-align:middle;
    margin-right:1rem;
}
.f1-input>p{font-size:1.8rem}



.f1-input>input,.f1-input>a{
    border-radius:8px;
    text-align:center;
}
.f1-input input{
    width:50%;
    border:1px solid #c5c5c5;
    font:20px bold;
    margin:20px 0;
    padding:20px;
    color:#545659;
}
.f1-input a{
    width:25%;
    display:inline-block;
    background-color:#05AB8A;
    color:#fff;
    font:25px bold;
    margin-left:1rem;
    padding:15px 0;
}
.f1-input a:hover{background-color:#0F7F67;}
/*f2*/
.f2-course{
    width:100%;height:55rem;
    background:url(../img/course/course1-bg.jpg);
}
.f2-course::before{
    content:"";
    display:table;
}
.f2-course>p{
    width:46%;
    text-align:center;
    color:#fff;
    font-size:2rem;
    margin:3rem;
}
.f2-content>ul{
    width:68%;
    height:30rem;
    margin:0 auto;

}
.f2-content>ul>li{margin:2rem auto;}
.f2-content>ul>li>div{float:left;}

.f2-content>ul>li>div{
    background:#fff;
    border-radius:10px;
    padding:0.8rem;
    margin:2rem;
}
.f2-content>ul>li>div>img{
    margin:-2rem 1rem 1rem 0;
    border-radius:10px;
    vertical-align:top;
}
.f2-content>ul>li>div>a{
    color:#05AB8A;
    font-size:0.8rem;
}
.f2-content>ul>li>div>h2{margin:0.5rem 0;}
.f2-content>ul>li>div>p{
    color:#696868;
    margin:0.5rem 0;
}
.f2-content>ul>li>div>p>span{
    color:#05AB8A;
    margin-right:0.5rem;
}
#f2-content-8{
    /*width:80%;*/
    margin:0 auto;
    position:relative;
    left:7%;
}
#f2-content-8>img{width:20%;}
/*display:none*/
/*#f2-content-1,#f2-content-2,#f2-content-3,#f2-content-4,#f2-content-5,#f2-content-6,#f2-content-7,#f2-content-8{display:none;}*/

.f2-content>ul>li{display:none;}

.f2-content>ul>li:target{display:block;}
.f2-item>ul{
    width:70%;
    background:#fff;
    margin:0 auto;
}
.f2-item>ul>li{
    width:12.5%;
    padding:1.2rem 0 0;
    position:relative;
    background:rgba(5,171,138,0);
}
.f2-item>ul>li>a{display:block}
.f2-item>ul>li>a>div{
    text-align:center;
    font-size:0.8vw;
    color:#565656;
}
.f2-item>ul >li>a>div:first-child:after{
    content:"";
    display:block;
    width:35%;
    height:0.2rem;
    background:#05AB8A;
    margin:0 auto;

}
.f2-icon-d1>.f2-icon-p1{
    margin:1.2rem 0 2rem;
}
.f2-icon-d2{
    height:8.6rem;
    position:absolute;
    top:0;
    background:rgba(5,171,138,1);
    visibility:hidden;
    transition:all linear 0.3s;
}
.f2-icon-d2>img{
    width:85%;
    margin-top:-2rem;

}
.f2-icon-d2>p{
    font-size:1rem;
    color:#fff;
    margin-top:-1rem;
}
.f2-item>ul>li:hover .f2-icon-d2{
    height:10rem;
    transform:translateY(-1rem);
    visibility:visible;

}
.f2-item>ul>li>:hover .f2-icon-d2>img{
    margin-top:-3rem;
    transition:all linear 0.3s;
}
.f2-icon-1:target .f2-content-1{
    display:block;
}

/*f3*/
.course-f3>p{
    font-size:2rem;
    margin:10rem 0 7rem;
}
.course-f3{
    width:70%;
    margin:0 auto;
}
.course-f3>ul{
    width:85%;
    margin:0 auto;
}
.f3-left{text-align:right;}
.f13-right{text-align:left;}
.course-f3>ul>li>img{margin:0 2rem;}
.course-f3>ul>li>div>p{
    font-size:1.2rem;
    color:#05ab8a;
    margin:1rem 0;
}
.course-f3>ul>li>div>p+p{
    font-size:0.6rem;
    color:#5a5959;
}
.course-f3>a{
    display:block;
    width:18%;
    margin:3rem auto;
    padding:1rem 2rem;
    background:#05ab8a;
    border-radius:10px;
    box-shadow: 0 4px 0 #079d76;
    text-align:center;
    font-size: 2rem;
    color:#fff;
}

