.my-footer{height:36rem;width:100%}
*{box-sizing:border-box;}

header{
    margin:2rem auto;
    width:60%;
}
header:after{
    content:"";
    display:block;
    clear:both;
}
header>div{float:left;}
header>div>a>img{vertical-align:middle;}
header>div>span{font-size:1rem;color:#000;}
header>img{
    float:right;
    margin-top:1rem;
}


/*f1*/
.sec-f1{
    width:100%;
    background-image:url("../img/enterprise_training/banner.jpg");
    background-size:cover;
}
.sec-f1:after{
    content: "";
    display: block;
    height:5rem;
}
.sec-f1>img{margin:9% 5% 2%;}
.sec-f1>a{
    display:block;
    width:21%;
    background:#ffd800;
    font-size:1.5vw;
    color:#000;
    border-radius:7px;
    text-align:center;
    padding:0.7rem;
    margin-left:10%;
}
/*f2*/
.sec-f2{
    width:80%;
    margin:0 auto;
    text-align:center;
    padding:1rem;
}
.sec-f2>h1{margin:2rem;}
.sec-f2-content{
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
}
.sec-f2-content>div{
    width:50%;
    padding:2rem 0;
}
.sec-f2-content>div>img{margin-right:2rem;}
.sec-f2-content>div>div{
    display:inline-block;
    width:59%;
    text-align:left;
}
.sec-f2-content>div>div>p:first-child{
    font-size:1.7rem;
    line-height:3.5rem;
}
.sec-f2-content>div>div>p:last-child{color:#696868;}
/*f3*/
.sec-f3{
    background:#f7f7f7;
    margin:0 auto;
    text-align:center;
    padding:1rem;
}
.sec-f3>h1{margin:2rem;}
.sec-f3>p{font-size:1.2rem;}
.sec-f3>ul{
    width:70%;
    margin:5rem auto;
}
.sec-f3 li{width:20%}
.sec-f3 li p{
    font-size:1.4rem;
    margin:2rem auto;
}
.sec-f3 li p+p{
    font-size:0.8rem;
    margin:2rem 1rem;
    color:#666666;
    line-height:1.3rem;
}
/*f4*/

.sec-f4>h1{margin:2rem;text-align:center}
.sec-f4>ul{
    width:80%;
    margin:0 auto;
    flex-wrap:wrap;
}
.sec-f4>ul>li{
    width:25%;
    padding:1rem;
    position:relative;
}
.sec-f4-d1,.sec-f4-d1+div{background:#37b394;}
.sec-f4-d1>p,.sec-f4-d3>p{color:#fff;}
.sec-f4-d2,.sec-f4-d2+div{background:#f7f7f7;}
.sec-f4-d3,.sec-f4-d3+div{background:#9ac4ff;}
.sec-f4-d1,.sec-f4-d2,.sec-f4-d0{padding:1rem 0 0 1rem;}
.sec-f4>ul img{width:100%;}
.f4-p1{font-size:1.5rem;}
.sec-f4-d1+div{color:#fff;}
.sec-f4-d0{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    visibility:hidden;
}
.sec-f4-d0>p:first-child{margin-top:3rem;}
.sec-f4>ul>li:hover .sec-f4-d0{visibility:visible;}
/*f5*/
.sec-f5{
    background:#f7f7f7;
    margin-top:3rem;
    display:flex;
}
.sec-fe-left{
    background:#009899;
    width:40%;
}
.sec-fe-left>div{
    text-align: center;
    color:#fff;
    padding-top:50%;
}
.sec-fe-left>div>p{line-height:1.2rem;}
.sec-fe-left>div>p:first-child{
    font-size:2rem;
    font-weight:bold;
    margin:2rem 0;
}
.sec-f5>img{margin:2rem 4rem}
.sec-f5-right{width:32%}
.sec-f5-right{margin:1.5rem 0}
.sec-f5-right>div{margin:4.5rem 0}
.sec-f5-right p+p{
    color:#666666;
    font-size:0.8rem;
}
.sec-f5-right>div:first-child{margin-top:2rem}
.sec-f5-right>div:last-child{margin-bottom:1rem}
/*f6*/
.sec-f6{
    position:relative;
}
.sec-f6>h1{
    margin:2rem;
    text-align:center;
}
.sec-f6>img{width:100%}
.sec-f6>div{width:35%}
.sec-f6>div>p{
    font-size:1.6rem;
    color:#20baa2;
    margin:50px 0 20px;
}
.sec-f6>div>div{
    font-size:1.2rem;
    color:#959595;
    text-align:left;
}

.sec-f6-d1>div{
    border-left:8px solid #20baa2;
    text-align: left;
    padding-left:1rem;
}
.sec-f6-d1{
    position:absolute;
    top:6%;
    right:12%;}
.sec-f6-d2>div{
    border-right:8px solid #20baa2;
    text-align:right;
    padding-right:1rem;
}
.sec-f6-d2{
    text-align:right;
    position:absolute;
    bottom:10%;
    left:10%;
}
/*f7*/
.sec-f7{text-align:center;width:44%;margin:3rem auto;}
.sec-f7>h1{margin:2rem;}
.sec-f7>p{margin:2rem;font-size: 1.5rem}
.sec-f7 input{
    height:2rem;
    margin:1rem 0;
    border:1px solid #000;
    padding:1rem;
}
.sec-f7>div>input{width:48%;}
.sec-f7>div>input+input{margin-left:1rem;}
.sec-f7>input{width:100%;}
/*bottom-fixed*/
.bot-fixed{width:100%;
    height:4rem;
    background:#333;
    padding:1rem 0 ;
    padding-left:10%;
    position: fixed;
    bottom:0;


}
.bottom{
    width:70%;
    margin:-1rem auto;
    display:inline-block;
    font-weight:bolder;
}
.bot-fixed>img{
    vertical-align:middle;
    margin-top:-4rem;
}
.bottom>span{
    font-size:1.5rem;
    margin:0.5rem 10%;
    color:#fff;
}
.bottom>a{
    background:#ffd800;
    color:#000;
    font-size:1.5rem;
    display:inline-block;
    padding:0.5rem;
    margin:-1rem;
}
/*right-fixed*/
.right-fixed{
    position:fixed;
    width:5rem;
    right:0;
    bottom:10%;
}
.right-fixed-top>a{
    display:block;
    color:#000;
}
.right-fixed-top>a:hover{
    list-style: decimal;
    color:#000;
    border-bottom: 1px solid #000;
}
.right-fixed-bot>a{
    display:block;
    position:relative;
}
.right-fixed-bot p{
    color:#fff;
    background:#1ABC9C;
    font-size:1.4rem;
    display:none;
}
.right-fixed-bot>a:hover p{display:block }
.right-fixed-bot>a>p:last-child,.right-fixed-bot>a>img:last-child{
    position:absolute;
}
.right-fixed-bot>a>p:last-child{
    top:0.7rem;
    left:0.6rem;
}
.right-fixed-bot>a>img:last-child{}
.ban-right{display: none}