.my-footer1{width:100%;}
.header-1{
    margin:1.6rem auto;
    width:60%;
}
.header-1:after{
    content:"";
    display:block;
    clear:both;
}
.header-1>a>img{
    float:left;
}
.header-1>img:last-child{
    float:right;
    margin-top:1rem;
}

/*sec*/
.user-login{
    width:70%;
    min-width:900px;
    margin:0 auto;
    box-shadow:0px 0px 10px 5px #E5F3F8;
}
.user-login:after{
    content:"";
    display:block;
    clear: both;
}
.user-login-left{
    position:relative;
    width:32%;
    float:left;
    background:#fff;
    text-align:justify;
    padding:0 2.5rem;
}
.user-login>img{width:60%;
    float: right;}
.user-login-left>div>a{
    font-size:1.2rem;
    color:#1BBC9B;
}
.user-login-left>div>span{
    display:block;
    width:100%;
    height:0.2rem;
    background:#1BBC9B;
    margin:0.7rem 0;
}
.user-login-left>div:nth-child(1){float:left; margin:2rem 0;}
.user-login-left>div:nth-child(2){float:right; margin:2rem 0;}
.use-num>input:nth-child(1),.use-num>input:nth-child(2),.use-tell>input{
    width:80%;
    height:3rem;
    border:2px solid #E5E5E5;
    border-radius:23px;
    margin:1rem;
    padding-left:2rem;
    font-size: 1.1rem;
    color:#8e8a8a;
}
.user-login-left>.use-num a,.use-num span,.use-num label{color:#757575}
.user-login-left>.use-num a{font-size:1rem;}
#view,#get-yz{
    height: 2.8rem;
    line-height: 2.8rem;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    border-radius: 23px;
    margin:2rem 0;
}
#view{
    width: 90%;
    display:block;
    background: #1BBC9B;
}
.use-num>p>label{margin-right:50%}
.use-num>p{padding:2rem 0}
#zc{
    float:right;
    color:#f00;
    font-size:1.2rem;
}
/*.use-num{visibility:hidden;}*/
/*.use-num:target{visibility:visible;}*/
/*手机验证*/
.use-tell{
    padding: 2rem 0;
    background:#fff;
    position:absolute;
    top:6rem;
    visibility:hidden;
}
.use-tell:target{visibility:visible}
#get-yz{
    display:inline-block;
    width:40%;
    color:#1BBC9B;
    border:2px solid #1BBC9B;
}
.use-tell>input+input{
    width:35%;


}